.fieldContainer > div {
    margin-bottom:10px;
}

.field {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    position:relative;
    display: block;
}

.fieldInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: rgba(0, 0, 0, .9);
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 10px;
    line-height: 1rem;
    padding: 32px 0 6px;
    width: 100%
}

.floatLabel {
    cursor: text;
    font-size: 1.4rem;
    position: absolute;
    top: 30px;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2
}

.floatLabel--isActive {
    -webkit-animation: .3s float-label-appear ease-in-out forwards;
    animation: .3s float-label-appear ease-in-out forwards
}

.select__floatLabel {
    pointer-events: none
}

.select__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent;
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1
}

.select__input,
.select__selectedText {
    font-size: 16px;
    font-size: 1.6rem;
    width: 100%
}

.select__selectedText {
    font-weight: 700;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    display: block;
    line-height: 1.25;
    padding-top: 32px;
    padding-bottom: 6px
}

.select__icon {
    color: rgba(0, 0, 0, .56);
    right: 0;
    position: absolute;
    bottom: 8px
}

@keyframes float-label-appear {
    0% {
        font-size: 1.4rem;
        opacity: 1;
        top: 30px
    }
    50% {
        font-size: 1.3rem;
        opacity: 0;
        top: 30px
    }
    51% {
        font-size: 1.3rem;
        opacity: 0;
        top: 10px
    }
    to {
        font-size: 1.3rem;
        opacity: 1;
        top: 10px
    }
}

.select {
    display: block;
    position: relative;
    width: 100%
}

.select__floatLabel {
    pointer-events: none
}

.select__selectedText--noLabel {
    padding-top: 10px;
    padding-bottom: 10px
}

.select__input:focus+.select__selectedText {
    outline: none!important;
    border-color: #00a862
}

.select__selectedText--isInvalid {
    border-color: #e75b52!important
}

.select__icon {
    color: rgba(0, 0, 0, .56);
    right: 0;
    position: absolute;
    bottom: 8px
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: not-allowed
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    height: 100%;
    margin: 0;
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, .87);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2.2rem;
    font-weight: 400
}

a {
    color: currentColor
}

a:hover {
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto
}

svg {
    fill: currentColor
}

code {
    font-size: 16px;
    font-size: 1.6rem
}

body {
    background: #fff
}